:root {
  --darkest-blue: #03123c;
  --dark-blue: #000066;
  --light-blue: #56b8f1;
  --lightest-blue: #d9fbff;
  --off-white: #f8f8f8;
  --white: #fff;
  --dark-grey: #333;
  --medium--grey: #666;
  max-width: 600px;
  margin: auto;
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: .5rem 1rem;
}

ul {
  list-style: none;
}

a,
.link {
  text-decoration: none;
  color: var(--light-blue);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: .5rem;
}

.top-container {
  height: 50dvh;
  margin: 0.625rem 0;
}

.bottom-container {
  overflow-x: auto;
  padding: 0.625rem 0;
  margin: 0.625rem 0;
  display: flex;
  flex-direction: column;
  height: 50dvh;
  position: relative;
}

.search-container {
  width: 100%;
  height: 100%;
  margin: 0.25rem 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
  /* Firefox */
}

.search-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}


.as-map {
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #ccc;
  overflow: hidden;
}

.as-artwork-list,
.as-artist-list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  gap: 0.75rem;
}

.as-artwork-card,
.as-artist-card {
  height: 100%;
  position: relative;
  overflow: hidden;
  flex: 1;
  border-radius: 0.5rem;
  max-width: 14rem;
  min-width: 12rem;
}

.as-artwork-detail {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artwork-screen .as-artwork-detail img,
.artist-screen .as-artist-detail img {
  width: 100%;
  height: auto;
  max-height: 40dvh;
  object-fit: contain;
}

.artwork-screen .as-artwork-detail h4 {
  margin-top: 1rem;
}

.artwork-screen .bottom-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.as-gallery-detail,
.as-artist-detail {
  border-radius: 0.5rem;
}

.as-gallery-detail h4,
.as-artist-detail h4 {
  text-align: center;
  padding: .75rem 0;
}

.as-artwork-card img,
.as-artist-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.as-artwork-card-content,
.as-artist-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-wrap: auto;
}

.as-artwork-card h4,
.as-artist-card h4 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  line-height: 1.4rem;
  text-wrap: auto;
}

.as-artwork-card-artist {
  font-size: 1rem;
  font-weight: 500;
}

.as-artwork-card-gallery,
.as-artist-card-nationality {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-top: 0.2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

nav a:hover {
  color: #007bff;
}

.as-select-radius {
  width: 12rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  color: var(--dark-grey);
  background: var(--off-white);
  position: absolute;
  top: 1rem;
  right: .5rem;
  z-index: 10;
  margin-bottom: 0.75rem;
}

.as-search-input {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 0.0625rem solid var(--lightest-blue);
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  color: var(--dark-grey);
  background: var(--off-white);
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 0.75rem;
}

.loading-message {
  font-size: 1rem;
  color: #333;
}

.loading-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.spinner {
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
}

.spinner-circle {
  stroke: var(--dark-blue);
  stroke-dasharray: 150, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -125px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  white-space: nowrap;
  padding-bottom: 0.5rem;
}

.scroll-item {
  flex: 0 0 auto;
  padding: 0.75rem 1rem;
  background: #f3f3f3;
  border-radius: 8px;
  font-size: 0.9rem;
  color: var(--dark-grey);
}

.image-scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  white-space: nowrap;
  height: 12rem;
}

.image-scroll-item {
  flex: 0 0 auto;
}

.flip-card {
  width: 300px;
  height: 50dvh;
  perspective: 1000px;
  cursor: pointer;
  margin: auto;
}

.flip-card-inner {
  width: 100%;
  height: 50dvh;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  width: 100%;
  height: 50dvh;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 12px;
  text-align: center;
}

.flip-front {
  z-index: 2;
}

.flip-back {
  transform: rotateY(180deg);
}

.flip-back h4 {
  font-size: 1.3rem;
}

.flip-back h5 {
  font-size: 1.2rem;
  margin: .5rem 0;
}

.flip-back p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: left;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /* Black background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 0.375rem;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 0.5rem;
  text-align: center;

  p {
    margin: 0.25rem 0;
  }

}

.modal-image {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.close-btn {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  color: var(--dark-grey);
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3125rem 0.625rem;
}